<h3>Cliente</h3>

<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource name="Cliente" entity="api/rest/controleEstoque/Cliente" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Cliente.startInserting()" ng-hide="Cliente.inserting || Cliente.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-Cliente"> 
  <div crn-datasource="Cliente" class="" ng-hide="Cliente.editing || Cliente.inserting"> 
    <table class="table  table-bordered table-hover table-striped"> 
      <thead> 
        <tr class="table-header"> 
           
          <th class="active"> 
            <div class="">Nome Completo</div>
          </th> 
          <th class=""> 
            <div class="">Data Nascimento</div>
          </th> 
          <th class=""> 
            <div class="">Cpf</div>
          </th> 
          <th class=""> 
            <div class="">Endereco</div>
          </th> 
          <th class=""> 
            <div class="">Cidade</div>
          </th> 
          <th class=""> 
            <div class="">Estado</div>
          </th> 
          <th class=""> 
          <div class="">{{"template.crud.actions" | translate}}</div>
          </th> 
        </tr> 
      </thead> 
      <tbody> 
        <tr class="table-content" ng-repeat="rowData in datasource.data"> 
           
          <td class="active"> 
            <div class="">

                  {{rowData.nomeCompleto}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.dataNascimento | date:'dd/MM/yyyy'}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.cpf}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.endereco}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.cidade}}
        
            </div>
          </td> 
          <td class=""> 
            <div class="">

                  {{rowData.estado}}
        
            </div>
          </td> 
          <td class=""> 
            <div class=""> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button> 
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button> 
            </div></td> 
        </tr> 
      </tbody> 
    </table> 
    <div class="table-footer-controls"> 
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
    </div> 
  </div> 
</div> 
<div class=""></div> 
<div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-Cliente"> 
  <div class="form" ng-show="Cliente.editing || Cliente.inserting"> 
    <form crn-datasource="Cliente" class=""> 
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
      </div> 
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nomeCompleto"> 
          <div class="form-group"> 
            <label for="textinput-nomeCompleto" class="">Nome Completo</label> 

        <input type="text" ng-model="Cliente.active.nomeCompleto" class="form-control" id="textinput-nomeCompleto" placeholder="Nome Completo" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-dataNascimento"> 
          <div class="form-group"> 
            <label for="textinput-dataNascimento" class="">Data Nascimento</label> 

        <div style="position:relative">
          <input type="text" as-date="" format="DD/MM/YYYY" ng-model="Cliente.active.dataNascimento" class="form-control" id="textinput-dataNascimento" placeholder="Data Nascimento" required="required">
        </div>

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-cpf"> 
          <div class="form-group"> 
            <label for="textinput-cpf" class="">Cpf</label> 

        <input type="text" ng-model="Cliente.active.cpf" mask="999.999.999-99" class="form-control" id="textinput-cpf" placeholder="Cpf" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-endereco"> 
          <div class="form-group"> 
            <label for="textinput-endereco" class="">Endereco</label> 

        <input type="text" ng-model="Cliente.active.endereco" class="form-control" id="textinput-endereco" placeholder="Endereco" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-cidade"> 
          <div class="form-group"> 
            <label for="textinput-cidade" class="">Cidade</label> 

        <input type="text" ng-model="Cliente.active.cidade" class="form-control" id="textinput-cidade" placeholder="Cidade" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-estado"> 
          <div class="form-group"> 
            <label for="textinput-estado" class="">Estado</label> 

        <input type="text" ng-model="Cliente.active.estado" class="form-control" id="textinput-estado" placeholder="Estado" required="required"> 

          </div> 
        </div> 
        <div class=""></div> 
      </fieldset> 
    </form> 
  </div> 
</div> 
<div class=""></div>