<div class="component-holder panel panel-green"> 
    <div class="panel-heading">
            <h3><i class="fa fa-tasks"></i> Fornecedor</h3>
        </div>
    <div class="container-fluid">
        
        
        <div class="row"></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle margem-cima20" data-component="crn-datasource" id="crn-datasource-763276"> 
           <datasource name="Fornecedor" entity="api/rest/controleEstoque/Fornecedor" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource> 
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-button" id="crn-button-564202"> 
            <p>
                <button class="btn btn-primary btn-sm" type="submit" onclick="" ng-click="Fornecedor.startInserting()" ng-hide="Fornecedor.inserting || Fornecedor.editing"><i class="fa fa-tasks"></i> <span class="">{{"template.crud.new" | translate}} fornecedor</span></button> 
            </p>
        </div> 
        <div class=""></div> 
        <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-grid" id="crn-grid-Fornecedor"> 
          <div crn-datasource="Fornecedor" class="" ng-hide="Fornecedor.editing || Fornecedor.inserting"> 
            <table class="table  table-bordered table-hover table-striped"> 
              <thead> 
                <tr class="table-header"> 
                   
                  <th class=""> 
                    <div class="">Nome Fantasia</div>
                  </th> 
                  <th class=""> 
                    <div class="">Razao Social</div>
                  </th> 
                  <th class=""> 
                    <div class="">Cnpj</div>
                  </th> 
                  <th class=""> 
                    <div class="">Nome Responsavel</div>
                  </th> 
                  <th class=""> 
                  <div class="">{{"template.crud.actions" | translate}}</div>
                  </th> 
                </tr> 
              </thead> 
              <tbody> 
                <tr class="table-content" ng-repeat="rowData in datasource.data"> 
                   
                  <td class=""> 
                    <div class="">
        
                          {{rowData.nomeFantasia}}
                
                    </div>
                  </td> 
                  <td class=""> 
                    <div class="">
        
                          {{rowData.razaoSocial}}
                
                    </div>
                  </td> 
                  <td class=""> 
                    <div class="">
        
                          {{rowData.cnpj}}
                
                    </div>
                  </td> 
                  <td class=""> 
                    <div class="">
        
                          {{rowData.nomeResponsavel}}
                
                    </div>
                  </td> 
                  <td class=""> 
                    <div class=""> 
                      <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i> Editar</button> 
                      <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i> Remover</button> 
                    </div></td> 
                </tr> 
              </tbody> 
            </table> 
            <div class="table-footer-controls"> 
              <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button> 
            </div> 
          </div> 
        </div> 
        <div class=""></div> 
        <div class="col-xs-12 col-sm-5 component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-form" id="crn-form-form-Fornecedor"> 
          <div class="form" ng-show="Fornecedor.editing || Fornecedor.inserting"> 
            <form crn-datasource="Fornecedor" class=""> 
              <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting"> 
                <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button> 
                <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button> 
                <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button> 
                <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button> 
                <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button> 
              </div> 
              
              <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
                <div class=""></div> 
                <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nomeFantasia"> 
                  <div class="form-group"> 
                    <label for="textinput-nomeFantasia" class="">Nome Fantasia</label> 
        
                <input type="text" ng-model="Fornecedor.active.nomeFantasia" class="form-control" id="textinput-nomeFantasia" placeholder="Nome Fantasia" required="required"> 
        
                  </div> 
                </div> 
                <div class=""></div> 
                <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-razaoSocial"> 
                  <div class="form-group"> 
                    <label for="textinput-razaoSocial" class="">Razao Social</label> 
        
                <input type="text" ng-model="Fornecedor.active.razaoSocial" class="form-control" id="textinput-razaoSocial" placeholder="Razao Social" required="required"> 
        
                  </div> 
                </div> 
                <div class=""></div> 
                <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-cnpj"> 
                  <div class="form-group"> 
                    <label for="textinput-cnpj" class="">Cnpj</label> 
        
                <input type="text" ng-model="Fornecedor.active.cnpj" mask="99.999.999/9999-99" class="form-control" id="textinput-cnpj" placeholder="Cnpj" required="required"> 
        
                  </div> 
                </div> 
                <div class=""></div> 
                <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-textinput" id="crn-textinput-nomeResponsavel"> 
                  <div class="form-group"> 
                    <label for="textinput-nomeResponsavel" class="">Nome Responsavel</label> 
        
                <input type="text" ng-model="Fornecedor.active.nomeResponsavel" class="form-control" id="textinput-nomeResponsavel" placeholder="Nome Responsavel" required="required"> 
        
                  </div> 
                </div> 
                <div class=""></div> 
              </fieldset> 
              <div class="active-bar pull-right margem-baixo20" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting"> 
                <button class="btn btn-success btn-sm" ng-click="datasource.post()">Salvar</button> 
                <button class="btn btn-danger btn-sm" ng-click="datasource.cancel()">Cancelar</button> 
              </div> 
            </form> 
          </div> 
        </div> 
        <div class=""></div>
    </div>
</div>