<div class="component-holder ng-binding ng-scope" data-component="crn-sidebar" id="crn-sidebar-751554"> 
  <nav class="navbar navbar-default"> 
    <div class="container-fluid"> 
      <!-- Brand and toggle get grouped for better mobile display --> 
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
        <a class="navbar-brand" href="javascript:void(0);"><img src="img/logo-box-blue.jpg" class="" width="" height="30"> </a> 
      </div> 
      <!-- Collect the nav links, forms, and other content for toggling --> 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
        <ul class="nav navbar-nav"> 
          <li class="component-holder" data-component="crn-sidebar-item"><a href="#/home" class=""><i class="fa fa-lg fa-home"></i> <span class="">{{"Home.view.Home" | translate}}</span></a></li> 
          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users fa-lg"></i> <span class="">{{"Home.view.Admin" | translate}}</span> <span class="caret"></span></a> 
            <ul class="dropdown-menu"> 
              <li><a href="#/home/admin/users" class="component-holder" data-component="crn-anchor">{{"Home.view.Users" | translate}}</a></li> 
              <li><a href="#/home/admin/roles" class="component-holder" data-component="crn-anchor">{{"Home.view.Roles" | translate}}</a></li> 
              <li><a href="#/home/admin/permission" class="component-holder" data-component="crn-anchor">{{"Home.view.Permission" | translate}}</a></li> 
            </ul> </li> 
          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list-alt"></i> <span class="">{{"Home.view.Cadastro" | translate}}</span> <span class="caret"></span></a> 
            <ul class="dropdown-menu"> 
              <li><a href="#/home/logged/fornecedor" class="component-holder" data-component="crn-anchor">{{"Home.view.Fornecedor" | translate}}</a></li> 
              <li><a href="#/home/logged/cliente" class="component-holder" data-component="crn-anchor">{{"Home.view.Cliente" | translate}}</a></li> 
              <li><a href="#/home/logged/produto" class="component-holder" data-component="crn-anchor">{{"Home.view.Produto" | translate}}</a></li> 
              <li><a href="#/home/logged/estoque" class="component-holder" data-component="crn-anchor">{{"Home.view.Estoque" | translate}}</a></li> 
              <li><a href="#/home/logged/venda" class="component-holder" data-component="crn-anchor">{{"Home.view.Venda" | translate}}</a></li> 
            </ul> </li> 
          <li class="component-holder" data-component="crn-sidebar-item"><a href="#/home/logged/venda?start" class=""><i class=""></i> <span class="glyphicon glyphicon-usd">{{"Home.view.Venda" | translate}}</span></a></li> 
        </ul> 
        <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> --> 
        <ul class="nav navbar-nav navbar-right"> 
          <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="user-avatar" alt="{{session.name}}" ng-src="{{session.picture || 'img/nophoto.png'}}"> <span class="">{{session.name}}</span> <span class="caret"></span></a> 
            <ul class="dropdown-menu"> 
              <li><a class="component-holder" data-toggle="modal" data-target="#modalPassword" data-component="crn-anchor">{{"Home.view.ChangePassword" | translate}}</a></li> 
              <li ng-click="logout()"><a href="javascript:void(0);"><span class="">{{"Home.view.Logout" | translate}}</span></a></li> 
            </ul> </li> 
        </ul> 
      </div> 
      <!-- /.navbar-collapse --> 
    </div> 
    <!-- /.container-fluid --> 
  </nav> 
  <div ui-view="" class="container-fluid main-view"> 
    <div id="page-wrapper" ng-init="loadDashboard()"> 
      <div class="component-holder ng-binding ng-scope" data-component="crn-datasource" id="crn-datasource-924233"> 
        <datasource name="" entity="" keys="" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete=""></datasource> 
      </div> 
      <div class="row"> 
        <div class="col-lg-12"> 
          <h1 class="page-header">Dashboard</h1> 
        </div> 
        <!-- /.col-lg-12 --> 
      </div> 
      <!-- /.row --> 
      <div class="row"> 
        <div class="col-lg-3 col-md-6"> 
          <div class="panel panel-primary"> 
            <div class="panel-heading"> 
              <div class="row"> 
                <div class="col-xs-3"> 
                  <i class="fa fa-comments fa-5x"></i> 
                </div> 
                <div class="col-xs-9 text-right"> 
                  <div class="huge">
                     {{dashboard.totalCliente}} 
                  </div> 
                  <div>
                     Cliente(s) 
                  </div> 
                </div> 
              </div> 
            </div> 
            <a href="#/home/logged/cliente"> 
              <div class="panel-footer"> 
                <span class="pull-left">{{"Home.view.Cliente" | translate}}</span> 
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> 
                <div class="clearfix"></div> 
              </div> </a> 
          </div> 
        </div> 
        <div class="col-lg-3 col-md-6"> 
          <div class="panel panel-green"> 
            <div class="panel-heading"> 
              <div class="row"> 
                <div class="col-xs-3"> 
                  <i class="fa fa-tasks fa-5x"></i> 
                </div> 
                <div class="col-xs-9 text-right"> 
                  <div class="huge">
                     {{dashboard.totalFornecedor}}
                  </div> 
                  <div>
                     Fornecedor(es) 
                  </div> 
                </div> 
              </div> 
            </div> 
            <a href="#/home/logged/fornecedor"> 
              <div class="panel-footer"> 
                <span class="pull-left">{{"Home.view.Fornecedor" | translate}}</span> 
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> 
                <div class="clearfix"></div> 
              </div> </a> 
          </div> 
        </div> 
        <div class="col-lg-3 col-md-6"> 
          <div class="panel panel-yellow"> 
            <div class="panel-heading"> 
              <div class="row"> 
                <div class="col-xs-3"> 
                  <i class="fa fa-shopping-cart fa-5x"></i> 
                </div> 
                <div class="col-xs-9 text-right"> 
                  <div class="huge">
                     {{dashboard.totalVenda}} 
                  </div> 
                  <div>
                     Venda(s) 
                  </div> 
                </div> 
              </div> 
            </div> 
            <a href="#/home/logged/venda?start"> 
              <div class="panel-footer"> 
                <span class="pull-left">Efetuar venda</span> 
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> 
                <div class="clearfix"></div> 
              </div> </a> 
          </div> 
        </div> 
        <div class="col-lg-3 col-md-6"> 
          <div class="panel panel-red"> 
            <div class="panel-heading"> 
              <div class="row"> 
                <div class="col-xs-3"> 
                  <i class="fa fa-support fa-5x"></i> 
                </div> 
                <div class="col-xs-9 text-right"> 
                  <div class="huge">
                     {{dashboard.totalProdutoSemEstoque}} 
                  </div> 
                  <div>
                     Produto(s) sem estoque 
                  </div> 
                </div> 
              </div> 
            </div> 
            <a href="#/home/logged/estoque"> 
              <div class="panel-footer"> 
                <span class="pull-left">{{"Home.view.Estoque" | translate}}</span> 
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span> 
                <div class="clearfix"></div> 
              </div> </a> 
          </div> 
        </div> 
      </div> 
      <!-- /.row --> 
      <div class="row"> 
        <div class="col-lg-8"> 
          <div class="panel panel-default"> 
            <div class="panel-heading"> 
              <i class="fa fa-bar-chart-o fa-fw"></i>Fautramento do mês 
              <div class="pull-right"> 
                
              </div> 
            </div> 
            <!-- /.panel-heading --> 
            <div class="panel-body"> 
              <div id="morris-area-chart"></div> 
            </div> 
            <!-- /.panel-body --> 
          </div> 
          <!-- /.panel --> 
          <div class="panel panel-default"> 
            <div class="panel-heading"> 
              <i class="fa fa-bar-chart-o fa-fw"></i> Valor compra vs Valor venda 
              <div class="pull-right"> 
                <div class="btn-group"> 
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> Actions <span class="caret"></span> </button> 
                  <ul class="dropdown-menu pull-right" role="menu"> 
                    <li><a href="#">Action</a> </li> 
                    <li><a href="#">Another action</a> </li> 
                    <li><a href="#">Something else here</a> </li> 
                    <li class="divider"></li> 
                    <li><a href="#">Separated link</a> </li> 
                  </ul> 
                </div> 
              </div> 
            </div> 
            <!-- /.panel-heading --> 
            <div class="panel-body"> 
              <div class="row"> 
                <div class="col-lg-4"> 
                  <div class="table-responsive"> 
                    <table class="table table-bordered table-hover table-striped"> 
                      <thead> 
                        <tr> 
                          <th>#</th> 
                          <th>Date</th> 
                          <th>Time</th> 
                          <th>Amount</th> 
                        </tr> 
                      </thead> 
                      <tbody> 
                        <tr> 
                          <td>3326</td> 
                          <td>10/21/2013</td> 
                          <td>3:29 PM</td> 
                          <td>$321.33</td> 
                        </tr> 
                        <tr> 
                          <td>3325</td> 
                          <td>10/21/2013</td> 
                          <td>3:20 PM</td> 
                          <td>$234.34</td> 
                        </tr> 
                        <tr> 
                          <td>3324</td> 
                          <td>10/21/2013</td> 
                          <td>3:03 PM</td> 
                          <td>$724.17</td> 
                        </tr> 
                        <tr> 
                          <td>3323</td> 
                          <td>10/21/2013</td> 
                          <td>3:00 PM</td> 
                          <td>$23.71</td> 
                        </tr> 
                        <tr> 
                          <td>3322</td> 
                          <td>10/21/2013</td> 
                          <td>2:49 PM</td> 
                          <td>$8345.23</td> 
                        </tr> 
                        <tr> 
                          <td>3321</td> 
                          <td>10/21/2013</td> 
                          <td>2:23 PM</td> 
                          <td>$245.12</td> 
                        </tr> 
                        <tr> 
                          <td>3320</td> 
                          <td>10/21/2013</td> 
                          <td>2:15 PM</td> 
                          <td>$5663.54</td> 
                        </tr> 
                        <tr> 
                          <td>3319</td> 
                          <td>10/21/2013</td> 
                          <td>2:13 PM</td> 
                          <td>$943.45</td> 
                        </tr> 
                      </tbody> 
                    </table> 
                  </div> 
                  <!-- /.table-responsive --> 
                </div> 
                <!-- /.col-lg-4 (nested) --> 
                <div class="col-lg-8"> 
                  <div id="morris-bar-chart"></div> 
                </div> 
                <!-- /.col-lg-8 (nested) --> 
              </div> 
              <!-- /.row --> 
            </div> 
            <!-- /.panel-body --> 
          </div> 
          <!-- /.panel --> 
          <div class="panel panel-default"> 
            <div class="panel-heading"> 
              <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline 
            </div> 
            <!-- /.panel-heading --> 
            <div class="panel-body"> 
              <ul class="timeline"> 
                <li> 
                  <div class="timeline-badge"> 
                    <i class="fa fa-check"></i> 
                  </div> 
                  <div class="timeline-panel"> 
                    <div class="timeline-heading"> 
                      <h4 class="timeline-title">Lorem ipsum dolor</h4> 
                      <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small> </p> 
                    </div> 
                    <div class="timeline-body"> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p> 
                    </div> 
                  </div> </li> 
                <li class="timeline-inverted"> 
                  <div class="timeline-badge warning"> 
                    <i class="fa fa-credit-card"></i> 
                  </div> 
                  <div class="timeline-panel"> 
                    <div class="timeline-heading"> 
                      <h4 class="timeline-title">Lorem ipsum dolor</h4> 
                    </div> 
                    <div class="timeline-body"> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p> 
                    </div> 
                  </div> </li> 
                <li> 
                  <div class="timeline-badge danger"> 
                    <i class="fa fa-bomb"></i> 
                  </div> 
                  <div class="timeline-panel"> 
                    <div class="timeline-heading"> 
                      <h4 class="timeline-title">Lorem ipsum dolor</h4> 
                    </div> 
                    <div class="timeline-body"> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p> 
                    </div> 
                  </div> </li> 
                <li class="timeline-inverted"> 
                  <div class="timeline-panel"> 
                    <div class="timeline-heading"> 
                      <h4 class="timeline-title">Lorem ipsum dolor</h4> 
                    </div> 
                    <div class="timeline-body"> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p> 
                    </div> 
                  </div> </li> 
                <li> 
                  <div class="timeline-badge info"> 
                    <i class="fa fa-save"></i> 
                  </div> 
                  <div class="timeline-panel"> 
                    <div class="timeline-heading"> 
                      <h4 class="timeline-title">Lorem ipsum dolor</h4> 
                    </div> 
                    <div class="timeline-body"> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p> 
                      <hr> 
                      <div class="btn-group"> 
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-gear"></i> <span class="caret"></span> </button> 
                        <ul class="dropdown-menu" role="menu"> 
                          <li><a href="#">Action</a> </li> 
                          <li><a href="#">Another action</a> </li> 
                          <li><a href="#">Something else here</a> </li> 
                          <li class="divider"></li> 
                          <li><a href="#">Separated link</a> </li> 
                        </ul> 
                      </div> 
                    </div> 
                  </div> </li> 
                <li> 
                  <div class="timeline-panel"> 
                    <div class="timeline-heading"> 
                      <h4 class="timeline-title">Lorem ipsum dolor</h4> 
                    </div> 
                    <div class="timeline-body"> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p> 
                    </div> 
                  </div> </li> 
                <li class="timeline-inverted"> 
                  <div class="timeline-badge success"> 
                    <i class="fa fa-graduation-cap"></i> 
                  </div> 
                  <div class="timeline-panel"> 
                    <div class="timeline-heading"> 
                      <h4 class="timeline-title">Lorem ipsum dolor</h4> 
                    </div> 
                    <div class="timeline-body"> 
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p> 
                    </div> 
                  </div> </li> 
              </ul> 
            </div> 
            <!-- /.panel-body --> 
          </div> 
          <!-- /.panel --> 
        </div> 
        <!-- /.col-lg-8 --> 
        
        <div class="col-lg-4"> 
          <div class="panel panel-default"> 
            <div class="panel-heading"> 
              <i class="fa fa-users fa-fw"></i> {{"Home.view.Admin" | translate}} 
            </div> 
            <!-- /.panel-heading --> 
            <div class="panel-body"> 
              <div class="list-group"> 
                <a href="#/home/admin/users" class="list-group-item"> <i class="glyphicon glyphicon-user"></i> {{"Home.view.Users" | translate}} </a> 
                <a href="#/home/admin/roles" class="list-group-item"> <i class="glyphicon glyphicon-th-large"></i> {{"Home.view.Roles" | translate}}  </a> 
                <a href="#/home/admin/permission" class="list-group-item"> <i class="glyphicon glyphicon-cog"></i> {{"Home.view.Permission" | translate}} </a> 
              </div> 
              <!-- /.list-group --> 
            </div> 
            <!-- /.panel-body --> 
          </div> 
          <!-- /.panel --> 
          <div class="panel panel-default"> 
            <div class="panel-heading"> 
              <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example 
            </div> 
            <div class="panel-body"> 
              <div id="morris-donut-chart"></div> 
              <a href="#" class="btn btn-default btn-block">View Details</a> 
            </div> 
            <!-- /.panel-body --> 
          </div> 
          <!-- /.panel --> 
          <div class="chat-panel panel panel-default"> 
            <div class="panel-heading"> 
              <i class="fa fa-comments fa-fw"></i> Chat 
              <div class="btn-group pull-right"> 
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-chevron-down"></i> </button> 
                <ul class="dropdown-menu slidedown"> 
                  <li> <a href="#"> <i class="fa fa-refresh fa-fw"></i> Refresh </a> </li> 
                  <li> <a href="#"> <i class="fa fa-check-circle fa-fw"></i> Available </a> </li> 
                  <li> <a href="#"> <i class="fa fa-times fa-fw"></i> Busy </a> </li> 
                  <li> <a href="#"> <i class="fa fa-clock-o fa-fw"></i> Away </a> </li> 
                  <li class="divider"></li> 
                  <li> <a href="#"> <i class="fa fa-sign-out fa-fw"></i> Sign Out </a> </li> 
                </ul> 
              </div> 
            </div> 
            <!-- /.panel-heading --> 
            <div class="panel-body"> 
              <ul class="chat"> 
                <li class="left clearfix"> <span class="chat-img pull-left"> <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle"> </span> 
                  <div class="chat-body clearfix"> 
                    <div class="header"> 
                      <strong class="primary-font">Jack Sparrow</strong> 
                      <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small> 
                    </div> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p> 
                  </div> </li> 
                <li class="right clearfix"> <span class="chat-img pull-right"> <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle"> </span> 
                  <div class="chat-body clearfix"> 
                    <div class="header"> 
                      <small class="text-muted"> <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small> 
                      <strong class="pull-right primary-font">Bhaumik Patel</strong> 
                    </div> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p> 
                  </div> </li> 
                <li class="left clearfix"> <span class="chat-img pull-left"> <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle"> </span> 
                  <div class="chat-body clearfix"> 
                    <div class="header"> 
                      <strong class="primary-font">Jack Sparrow</strong> 
                      <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small> 
                    </div> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p> 
                  </div> </li> 
                <li class="right clearfix"> <span class="chat-img pull-right"> <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle"> </span> 
                  <div class="chat-body clearfix"> 
                    <div class="header"> 
                      <small class="text-muted"> <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small> 
                      <strong class="pull-right primary-font">Bhaumik Patel</strong> 
                    </div> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p> 
                  </div> </li> 
              </ul> 
            </div> 
            <!-- /.panel-body --> 
            <div class="panel-footer"> 
              <div class="input-group"> 
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."> 
                <span class="input-group-btn"> <button class="btn btn-warning btn-sm" id="btn-chat"> Send </button> </span> 
              </div> 
            </div> 
            <!-- /.panel-footer --> 
          </div> 
          <!-- /.panel .chat-panel --> 
        </div> 

        <!-- /.col-lg-4 --> 
      </div> 
      <!-- /.row --> 
    </div> 
  </div> 
  <div class="modal fade" id="modalPassword"> 
    <div class="modal-dialog"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-label="{Close}" ______aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button> 
          <h4 class="modal-title">{{"Home.view.ChangePassword" | translate}}</h4> 
        </div> 
        <div class="modal-body"> 
          <form class="form-validation" autocomplete="off" name="form" role="form"> 
            <div class="text-danger wrapper text-center" ng-show="authError"> 
            </div> 
            <div class="list-group list-group-sm"> 
              <div class="list-group-item"> 
                <input type="password" class="form-control no-border" id="oldPassword" placeholder="{Old Password}" ______placeholder="{{'Home.view.Old Password' | translate}}"> 
              </div> 
              <div class="list-group-item"> 
                <input type="password" class="form-control no-border" id="newPassword" placeholder="{New Password}" ______placeholder="{{'Home.view.New Password' | translate}}"> 
              </div> 
              <div class="list-group-item"> 
                <input type="password" class="form-control no-border" id="newPasswordConfirmation" placeholder="{Confirmation}" ______placeholder="{{'Home.view.Confirmation' | translate}}"> 
              </div> 
            </div> 
          </form> 
        </div> 
        <div class="modal-footer"> 
          <button class="btn btn-primary" type="submit" ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading">{{"Home.view.ChangePassword" | translate}}</button> 
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button> 
        </div> 
      </div> 
    </div> 
  </div> 
</div>